<div class="cuadroblanco">
  <img id="logo" src="./../../../assets/IMG/FORUM.jpg">
  <img id="meencanta" src="./../../../assets/IMG/Megusta.jpg">
  <div class="Border">
    <p id="Likes">A 336 personas les gusta</p>
    <div class="imagenes">
      <img src="./../../../assets/IMG/foto1.jpg" alt="foto1">
      <img src="./../../../assets/IMG/foto2.jpg" alt="foto2">
      <img src="./../../../assets/IMG/foto3.jpg" alt="foto3">
    </div>
    <div class="imagenes2">
      <img src="./../../../assets/IMG/foto4.jpg" alt="foto4">
      <img src="./../../../assets/IMG/foto5.jpg" alt="foto5">
      <img src="./../../../assets/IMG/foto6.jpg" alt="foto6">
    </div> 
      <div class="imagenes3">
        <img src="./../../../assets/IMG/foto7.jpg" alt="foto7">
        <img src="./../../../assets/IMG/foto8.jpg" alt="foto8">
        <img src="./../../../assets/IMG/foto9.jpg" alt="foto9">
      </div>
     <div id="Facebook">
       <img src="./../../../assets/IMG/facebook.png" />
     </div> 
  </div>
</div>
