/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Raleway:wght@200&display=swap');

header{
    background-image: url(./assets/IMG/grisclaro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 13vh;
    margin: 6px 8px;
}

 header > h1 {
    font-size: 60px;
    color:rgb(90, 88, 88);
    font-family: 'Manrope';
    font-weight: bold;
    margin: 3px 4px;   
}

#letra {
    color: green;
    font-family: "Raleway";
    font-size: 80px;
    right: 92%;
    top: -1%;
    position: absolute;
}
span{
    color: green;
    font-family: "Raleway";
    font-size: 15px;
    top: -18px;
    right: 4px;
    position: relative;
}

p{
    color: green;
    font-family: "Raleway";
    font-size: 15px;
    position: relative;
    left: 8%;
    bottom: -20%;
    font-weight: bold;
}

#copy{
    font-size: 20px;
    color:rgb(90, 88, 88);
    font-family: 'Manrope';
    font-weight: bold;
    margin: -30px 115px; 
}

.Menu{
    width: 98%;
    height: 5vh;
}

.Menu ul {
    display: flex;
    justify-content: space-between;
}

.Menu ul > li{
    background-image: url(./assets/IMG/green.jpg);
    background-size: cover;
    color: #f4f4f4;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    width: 11%;
    text-align: center;
}

#fecha{
    color: #ffff;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    background: rgb(90, 88, 88);
    width: 27%;
    text-align: center;
}

#imagen img {
    width: 98%;
    height: 70vh;
    margin: 0px 8px;
}

#linea{
    border: 3px solid #ffff;
    width: 96%;
    height: 65vh;
    margin: 15px 18px;
    position:absolute;
    bottom: 50px;
}

#texto > p{
    color: #ffff;
    list-style: none;
    font-weight: bold;
    margin: 4px 4px;
    position: absolute;
    top:83%;
    left:3%;
}

 #Forum{
    font-family: "Raleway";
    font-size: 25px;
    position: absolute;
    left: 70%;
    top: 45%;
    font-weight: bold;
    color: #ffff;
    width: 200px;
    height: 10vh; 
}

.Letras{
    font-family: "Raleway";
    font-size: 55px;
    position: absolute;
    left: 70%;
    top: 48%;
    font-weight: bold;
    color: #ffff;  
}

#F{
    font-family: "Raleway";
    font-size: 60px;
    position: absolute;
    left: 100%;
    top: 60%;
    font-weight: bold;
    color: #ffff;  
}

#O{
    font-family: "Raleway";
    /* font-size: 100px; */
    position: absolute;
    left: -2%;
    top: 100px;
    font-weight: bold;
    color:teal; 
    /* width: 200px;
    height: 10vh;  */
}

.tarjetas{
    display: flex;
    width: 98%;
    height: 55%;
    margin: 6px 8px;
}

.cuadromorado{
    background-image: url(./assets/IMG/morado.jpg);
    width: 23%;
    height:55vh;
    position:absolute;
    border: 2px solid #000;
}

#vivo{
    color: #fff;
    bottom: -20px;
    left: 15%;
    text-transform: uppercase;
    position: relative;
    font-size: 120%;
}

#enlinea{
    color: #fff;
    bottom: 1px;
    left: 35%;
    text-transform: uppercase;
    position: relative;
    font-size: 120%;
    font-weight: bold;
}

.circulo{
    width: 75%;
    height: 50%;
    border: 5px solid #ffff;
    border-radius: 50%;
    background: rgb(155, 15, 39);
    margin: 0px 30px;
}

#forums{
    color: #fff;
    position:absolute;
    left: 17%;
    top: 35%;
    text-transform: uppercase;
    text-align: center;
    font-size: bold;
    font-size: 50px;
}

#radio{
    color: #fff;
    position:absolute;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 30px;
}

#sonidos{
    color: #fff;
    position:absolute;
    left: 23%;
    top: 80%;
    text-transform: uppercase;
    font-size: bold;
    font-style: italic;
    font-size: 10px;
}

.cuadrogris{
    background-image: url(./assets/IMG/gris.jpg);
    width: 23%;
    height:55vh;
    position:absolute;
    left: 25%;
    border: 2px solid #000;
}

#revistaforum{
    color: #fff;
    bottom: -10px;
    left: 30%;
    text-transform: uppercase;
    position: relative;
    font-size: 200%;
}

#invita{
    color: #fff;
    bottom: 10px;
    left: 37%;
    position: relative;
    font-size: 120%;
    font-weight: bold;
}

.circulos{
    width: 75%;
    height: 36%;
    border: 5px solid rgb(2, 250, 2);
    border-radius: 50%;
    position:absolute;
    bottom: 134px;
    left: 35px;
}

#C{
    color: #fff;
    position:absolute;
    left: 20px;
    top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: bold;
    font-size: 40px;
}

#Emprendedores{
    color: #fff;
    margin: 4px 4px;
    text-align: right;
    font-size: bold;
    font-size: 20px;
    position:absolute;
    left: 25px;
    top: 60px;
}

#Revistas{
    color: rgb(2, 250, 2);
    position:absolute;
    left: 25%;
    top: 100%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 15px;
}

#parrafo{
    color: #fff;
    position:absolute;
    left: 2%;
    top:65%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 10px;
    text-align: center;
}

#Final{
    color: #fff;
    position:absolute;
    left: 25%;
    top:93%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 10px;
    text-align: center;
}

#title{
    color: rgb(2, 250, 2);
    position:absolute;
    left: 28%;
    top:85%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 15px;
    text-align: center;
}

.cuadroblanco{
    border: 2px solid #000;
    width: 23%;
    height:55vh;
    position:absolute;
    left: 50%;   
}

#logo{
    width:80px;
    height: 80px;
    margin: 10px 10px;
}

#meencanta{
    width:100px;
    height: 40px;
    margin: 0 15px;
}

#Likes{
    color: #000;
    position: abosolute;
    bottom: 2px;
}

.Border{
    border: 1px solid #000;
    width: 80%;
    height: 65%;
    margin: 0 20px;
}

.imagenes{
    display: flex;
}

.imagenes > img{
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

.imagenes2{
    display: flex;
}

.imagenes2 > img{
    width: 60px;
    height: 60px;
    margin: 2px 5px;
}

.imagenes3{
    display: flex;
}

.imagenes3 > img{
    width: 60px;
    height: 60px;
    margin: 2px 5px;
}

#Facebook > img{
    width: 20px;
    height: 20px;
    margin: 8px 5px; 
}

.cuadroverde{
    background-image: url(./assets/IMG/green.jpg);
    width: 23%;
    height:55vh;
    position:absolute;
    left: 75%;
    border: 2px solid #000;
}

#La{
    color: #fff;
    bottom: -10px;
    left: 25px;
    position: relative;
    font-size: 150%;
}

#ORUM{
    color: #fff;
    bottom: 20px;
    left: 25px;
    position: relative;
    font-size: 225%;
    font-weight: bold;
    text-transform: uppercase;
}

#Contactanos{
    color: rgb(25, 110, 25);
    border-radius: 50%;
    position:absolute;
    bottom: 60%;
    left: 25px;
    font-size: 100%;
    text-transform: uppercase;
}

#Email{
    color: #fff;
    position:absolute;
    left: 25px;
    top: 130px;
    text-transform: uppercase;
    font-size: bold;
    font-size: 20px;
}

#correo{
    color: #fff;
    margin: 4px 4px;
    text-align: right;
    font-size: bold;
    font-size: 15px;
    position:absolute;
    left: 20px;
    top: 150px;
}

#tel{
    color: #fff;
    position:absolute;
    left: 25px;
    top: 50%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 20px;
}

#num{
    color: #fff;
    position:absolute;
    left: 25px;
    top:60%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 15px;
}

#Direccion{
    color: #fff;
    position:absolute;
    left: 25px;
    top:70%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 20px;
}

#Dir{
    color: #fff;
    position:absolute;
    left: 25px;
    top:80%;
    font-size: bold;
    font-size: 15px;
}
