/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Raleway:wght@200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-image: url(./assets/IMG/grisclaro.jpg);
    background-size: cover;
    width: 98%;
    height: 13vh;
    margin: 6px 8px;
}

 header > h1 {
    font-size: 60px;
    color:rgb(90, 88, 88);
    font-family: 'Manrope';
    font-weight: bold;
    margin: 3px 4px;   
}

#letra {
    color: rgb(9, 170, 9);
    font-size: 80px;
    right: 92%;
    top: -1%;
    position: absolute;
}
span{
    color: rgb(9, 170, 9);
    font-family: "Raleway";
    font-size: 15px;
    top: -18px;
    right: 4px;
    position: relative;
    font-weight: bold;
}

p{
    color: rgb(3, 161, 3);
    font-family: "Raleway";
    font-size: 15px;
    position: relative;
    left: 8%;
    bottom: -20%;
    font-weight: bold;
}

#copy{
    font-size: 15px;
    color:rgb(90, 88, 88);
    font-family: 'Manrope';
    font-weight: bold;
    margin: -25px 115px; 
}

.Menu{
    width: 98%;
    height: 8vh;
    margin: 0 8px;
}

.Menu ul {
    display: flex;
    justify-content: space-between;
}

.Menu ul > li{
    background-image: url(./assets/IMG/lightgreen.jpg);
    background-size: cover;
    color: #f4f4f4;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    width: 11%;
    text-align: center;
    justify-content: center;
}

#fecha{
    color: #ffff;
    list-style: none;
    font-weight: bold;
    background: rgb(131, 128, 128);
    width: 27%;
    text-align: center;
}

#imagen img {
    width: 98%;
    height: 60vh;
    margin: 0px 8px;
}

#linea{
    border: 3px solid #ffff;
    width: 96%;
    height: 57vh;
    margin: 15px 18px;
    position:absolute;
    bottom: 90px;
}

#texto > p{
    color: #ffff;
    list-style: none;
    font-weight: bold;
    margin: 4px 4px;
    position: absolute;
    top:75%;
    left:3%;
}

 #Forum{
    font-family: "Raleway";
    font-size: 25px;
    position: absolute;
    left: 70%;
    top: 45%;
    font-weight: bold;
    color: #ffff;
    width: 200px;
    height: 10vh; 
}

.Letras{
    font-family: "Raleway";
    font-size: 55px;
    position: absolute;
    left: 75%;
    top: 48%;
    font-weight: bold;
    color: #ffff;  
}

#F{
    font-family: "Raleway";
    font-size: 55px;
    position: absolute;
    left: 70%;
    top: 48%;
    font-weight: bold;
    color: #ffff;  
}

#O{
    font-family: "Raleway";
    font-size: 55px;
    position: absolute;
    left: 72%;
    top: 48%;
    font-weight: bold;
    color: rgb(15, 153, 15);
}

.tarjetas{
    display: flex;
    width: 98%;
    height: 55vh;
    margin: 6px 8px;
}

.cuadromorado{
    background: purple;
    background-size: cover;
    width: 23%;
    height:55vh;
    position:absolute;
    border: 2px solid #000;
}

#vivo{
    color: #fff;
    bottom: -20px;
    left: 13%;
    text-transform: uppercase;
    position: relative;
    font-size: 120%;
}

#enlinea{
    color: #fff;
    bottom: -4px;
    left: 35%;
    text-transform: uppercase;
    position: relative;
    font-size: 120%;
    font-weight: bold;
}

.circulo{
    width: 80%;
    height: 63%;
    border: 7px solid #ffff;
    border-radius: 50%;
    background: rgb(224, 12, 136);
    margin: 0px 25px;
}

#forums{
    color: #fff;
    position:absolute;
    left: 14%;
    top: 42%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
}

#radio{
    color: #fff;
    position:absolute;
    left: 52%;
    top: 57%;
    text-transform: uppercase;
    font-size: bold;
    font-size: 30px;
}

#sonidos{
    color: #fff;
    position:absolute;
    left: 20%;
    top: 90%;
    font-size: bold;
    font-style: italic;
    font-size: 13px;
}

.cuadrogris{
    background-image: url(./assets/IMG/gris.jpg);
    background-size: cover;
    width: 24%;
    height:55vh;
    position:absolute;
    left: 25%;
    border: 2px solid #000;
}

#revistaforum{
    color: #fff;
    bottom: -5px;
    left: 30%;
    text-transform: uppercase;
    position: relative;
    font-size: 200%;
}

#invita{
    color: #fff;
    bottom: 20px;
    left: 37%;
    position: relative;
    font-size: 120%;
    font-weight: bold;
}

#letrao{
        color:rgb(19, 179, 19);
        left: 1px;
        top:2px;
        position: relative;
        font-size: 38px;
        font-weight: bold;
}

.circulos{
    width: 60%;
    height:45%;
    border: 7px solid rgb(2, 250, 2);
    border-radius: 50%;
    position:absolute;
    bottom: 110px;
    left: 60px;
}

#C{
    color: #fff;
    position:absolute;
    left: 13px;
    top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 33px;
}

#Emprendedores{
    color: #fff;
    margin: 4px 4px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    position:absolute;
    left: 7px;
    top: 70px;
}

#Revistas{
    color: rgb(2, 250, 2);
    position:absolute;
    left: 25%;
    top: 100%;
    font-weight: bold;
    font-size: 15px;
}

#parrafo{
    color: #fff;
    position:absolute;
    left: 3%;
    right: 3%;
    top:70%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#Final{
    color: #fff;
    position:absolute;
    left: 14%;
    top:93%;
    font-size: 15px;
}

#title{
    color: rgb(2, 250, 2);
    position:absolute;
    left: 33%;
    top:86%;
    font-size: 15px;
}

.cuadroblanco{
    border: 2px solid #000;
    width: 24%;
    height:55vh;
    position:absolute;
    left: 50%;   
}

#logo{
    width:80px;
    height: 80px;
    margin: 10px 40px;
}

#meencanta{
    width:80px;
    height: 30px;
    margin: 0 15px;
}

#Likes{
    color: #000;
    position: abosolute;
    bottom: -3px;
}

.Border{
    border: 1px solid #000;
    width: 72%;
    height: 65%;
    margin: 0 40px;
    position: relative;
    bottom: 3%;
}

.imagenes{
    display: flex;
}

.imagenes > img{
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

.imagenes2{
    display: flex;
}

.imagenes2 > img{
    width: 60px;
    height: 60px;
    margin: 2px 5px;
}

.imagenes3{
    display: flex;
}

.imagenes3 > img{
    width: 60px;
    height: 60px;
    margin: 2px 5px;
}

#Facebook > img{
    width: 20px;
    height: 20px;
    margin: 11px 0; 
}

.cuadroverde{
    background-image: url(./assets/IMG/green.jpg);
    background-size: cover;
    width: 24%;
    height:55vh;
    position:absolute;
    left: 75%;
    border: 2px solid #000;
}

#La{
    color: #fff;
    bottom: -10px;
    left: 25px;
    position: relative;
    font-size: 150%;
}

#ORUM{
    color: #fff;
    bottom: 20px;
    left: 25px;
    position: relative;
    font-size: 225%;
    font-weight: bold;
    text-transform: uppercase;
}

#Contactanos{
    color:rgb(2, 250, 2); 
    border-radius: 50%;
    position:absolute;
    bottom: 63%;
    left: 25px;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

#Email{
    color: #fff;
    position:absolute;
    left: 25px;
    top: 125px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#correo{
    color: #fff;
    margin: 4px 4px;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    position:absolute;
    left: 20px;
    top: 150px;
}

#tel{
    color: #fff;
    position:absolute;
    left: 25px;
    top: 52%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#num{
    color: #fff;
    position:absolute;
    left: 25px;
    top:60%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

#Direccion{
    color: #fff;
    position:absolute;
    left: 25px;
    top:72%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#Dir{
    color: #fff;
    position:absolute;
    left: 25px;
    top:80%;
    font-weight: bold;
    font-size: 15px;
}

#Verde{
    color:rgb(2, 250, 2);
    left: 1px;
    top:1px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}